.row
  .col-md-12
    %a.q-button{href: new_question_path} Ask A Question
    %h4 Number of Questions asked: #{@questions.total}
    
    = will_paginate @questions 
    - @questions.each do |question|
      = link_to question_path(question) do
        %article
          %section
            #question
              %h3
                %span.topic Topic:
                %span.topic-name #{question.topic.truncate(38)}
              %h4 
                %span.topic Question:
                %span.topic-name #{question.body}
              %h4 Answers:  
              .answer   
                - question.answers.each do |answer|                  
                  %h5           
                    %li.topic-name  #{answer.body} 
              = link_to "Edit", edit_question_path(question), remote: true, class: "edit", "data-toggle" => "modal", "data-target" => "#edit-question"
              = link_to "Delete", question, method: :delete, data: {confirm: "Are you sure you want to delete this question?"}, class: "edit"
.modal.fade.in#edit-question{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}


/ .script
/   $('.input').keypress(function (e) {
/   if (e.which == 13) {
/   $('form#login').submit();
/   return false;    //<---- Add this line
/   }
/   })