=cache @question do
  .col-md-6  
    #question-show
      %h3
        %span.topic Topic:
        %span.topic-name #{@question.topic}
      %h4 
        %span.topic Question:
        %span.topic-name #{@question.body}
      %h3 
        %span.topic Answers:  
        %span#answer-count= @question.answers.count            
        - @answers.each do |answer| 
          .answer           
            = link_to answer_path(answer) do
              %h4         
                %span.topic-name#answers 
                = "#{answer.body}"
.col-md-6.answer-form                
  = render "/answers/form", answer: @answer, question: @question
.row

%h2.span.topic Comments:
= render 'comments/comments'
= render 'comments/form'
